<mat-toolbar color="primary">
  <span>MANAGE QUESTIONNAIRE</span>
  
  <span class="example-spacer"></span>
</mat-toolbar>
<mat-card *ngIf="fileUploaded">
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="../../../assets/img/credexLogo.jpg"></div>
        <div class="card_content">
          <p class="card_text"></p>
          <button mat-raised-button color="primary" class="btn card_btn" (click)="viewQuestions()">View Questions</button>
        </div>
      </div>
    </li>
    </ul>
    </mat-card>
  
<mat-card *ngIf="!fileUploaded">
  <ul class="cards">
    <li class="cards_item">
      <div class="card">
        <div class="card_image"><img src="https://png.pngitem.com/pimgs/s/500-5002749_add-new-questions-transparent-question-icon-png-png.png"></div>
        <div class="card_content">
          <p class="card_text"></p>
          <label id="largeFile" for="file">
            <input type="file" id="file" accept=".json " (change)="onFileSelected($event)"/>
          </label>

        </div>
      </div>
    </li>
  </ul>
  </mat-card>

  <div id="question-container">
    