:host {
    color: lightgray;
  
    .welcome{
        font-size: 24px;
    }

    .matSubheader {
      margin-left: 20px;
    }

    // h4{
    //     font-size: 20px;
    // }
    .header{
        color: black;
    }
  .mat-icon {
    vertical-align: middle;
    margin-right: 20px;
  }
  .profile-card {
    text-align: center;
    padding: 20px 20px 20px 20px;
  }
  mat-divider{
    margin-top: 15px;
    padding-bottom: 20px;
  }
}
