<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2 class="welcome">WELCOME!</h2>
            <h4>Admin</h4>
        </div>

    </div>

    <mat-divider></mat-divider>
    <h2 matSubheader>Management</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/colleges">Colleges</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/students">Students</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/drives">Drives</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/questions">Questionnaire</a>

<mat-divider></mat-divider>

<h2 matSubheader>HR Approval</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/approval">

        Final Reports
    </a>

</mat-nav-list>