<mat-nav-list style="background-color: aliceblue; height: 98%">
  <div class="profile-card">
    <div class="header">
      <img
        mat-card-image
        style="width: 30%; height: auto; object-fit: cover"
        src="../../../../assets/img/userLogo.png"
        alt="userLogo"
      />
      <h2 style="font-weight: 400">{{ this.emailId }}</h2>
      <h4 style="color: rgb(67, 80, 201)">{{ this.role }}</h4>
    </div>
  </div>

  <mat-divider></mat-divider>
  <h2
    matSubheader
    *ngIf="userAuthService.roleMatch('Admin')"
    style="padding-left: 12px; color: rgb(180, 190, 248)"
  >
    Management
  </h2>
  <h2
    matSubheader
    *ngIf="userAuthService.roleMatch('Student')"
    style="padding-left: 12px; color: rgb(180, 190, 248)"
  >
    Panel
  </h2>

  <a
    mat-list-item
    *ngIf="userAuthService.roleMatch('Admin')"
    routerLinkActive="list-item-active"
    routerLink="/home/dashboard"
    >Dashboard</a
  >

  <a
    mat-list-item
    *ngIf="userAuthService.roleMatch('Student')"
    routerLinkActive="list-item-active"
    routerLink="/home/exam"
    >Examination</a
  >
  <a
    mat-list-item
    *ngIf="userAuthService.roleMatch('Student')"
    routerLinkActive="list-item-active"
    routerLink="/home/faq"
    >FAQs</a
  >

  <a
    mat-list-item
    *ngIf="userAuthService.roleMatch('Student')"
    routerLinkActive="list-item-active"
    routerLink="/home/contact"
    >Contact Us</a
  >

  <a
    mat-list-item
    *ngIf="userAuthService.roleMatch('Admin')"
    routerLinkActive="list-item-active"
    routerLink="/home/colleges"
    >Colleges</a
  >
  <a
    mat-list-item
    *ngIf="userAuthService.roleMatch('Admin')"
    routerLinkActive="list-item-active"
    routerLink="/home/candidates"
    >Candidates</a
  >
  <a
    mat-list-item
    *ngIf="userAuthService.roleMatch('Recruiter')"
    routerLinkActive="list-item-active"
    routerLink="/home/drives"
    >Drives</a
  >
  <a
    mat-list-item
    *ngIf="userAuthService.roleMatch('Admin')"
    routerLinkActive="list-item-active"
    routerLink="/home/questions"
    >Questionnaire</a
  >

  <mat-divider *ngIf="userAuthService.roleMatch('Admin')"></mat-divider>

  <h2
    matSubheader
    *ngIf="userAuthService.roleMatch('Admin')"
    style="padding-left: 12px; color: rgb(180, 190, 248)"
  >
    HR Approval
  </h2>

  <a
    mat-list-item
    *ngIf="userAuthService.roleMatch('Admin')"
    routerLinkActive="list-item-active"
    routerLink="/home/user-roles"
  >
    User Roles
  </a>
  <a
    mat-list-item
    *ngIf="userAuthService.roleMatch('Admin')"
    routerLinkActive="list-item-active"
    routerLink="/home/approval"
  >
    Final Reports
  </a>
</mat-nav-list>
