<div class="chatroom" style="height: 93%; width: 70%; margin-left: 200px">
  <div class="chat-top friend">
    <div class="name">
      <h3>Chat Box</h3>
    </div>
  </div>
  <div class="chat-mid" style="height: 100%; width: 100%">
    <div class="chat">
      <div class="chatbox left">
        <div class="profile">
          <img src="../../../../assets/img/userLogo.png" alt="" class="icon" />
        </div>
        <div class="message">
          <p>List Available?</p>
        </div>
      </div>
    </div>
    <div class="chat">
      <div class="chatbox right">
        <div class="profile">
          <img src="../../../../assets/img/userLogo.png" alt="" class="icon" />
        </div>
        <div class="message">
          <p>Yes</p>
        </div>
      </div>
    </div>
    <div class="chat">
      <div class="chatbox left">
        <div class="profile">
          <img src="../../../../assets/img/userLogo.png" alt="" class="icon" />
        </div>
        <div class="message">
          <p>Forward the list.</p>
        </div>
      </div>
    </div>
    <div class="chat">
      <div class="chatbox right">
        <div class="profile">
          <img src="../../../../assets/img/userLogo.png" alt="" class="icon" />
        </div>
        <div class="message">
          <p>Okay</p>
        </div>
      </div>
    </div>
    <div class="chat">
      <div class="chatbox left">
        <div class="profile">
          <img src="../../../../assets/img/userLogo.png" alt="" class="icon" />
        </div>
        <div class="message">
          <p>Candidate 12 user details not showing up.</p>
        </div>
      </div>
    </div>
    <div class="chat">
      <div class="chatbox right">
        <div class="profile">
          <img src="../../../../assets/img/userLogo.png" alt="" class="icon" />
        </div>
        <div class="message">
          <p>I will forward the issue.</p>
        </div>
      </div>
    </div>
    <div class="chat">
      <div class="chatbox left">
        <div class="profile">
          <img src="../../../../assets/img/userLogo.png" alt="" class="icon" />
        </div>
        <div class="message">
          <p>final round list done.</p>
        </div>
      </div>
    </div>
    <div class="chat">
      <div class="chatbox right">
        <div class="profile">
          <img src="../../../../assets/img/userLogo.png" alt="" class="icon" />
        </div>
        <div class="message">
          <p>Okay</p>
        </div>
      </div>
    </div>
  </div>
  <div class="inputbox chat-bottom">
    <form>
      <input type="text" name="message" placeholder="..." />
      <button><span class="material-icons">send</span></button>
    </form>
  </div>
</div>
