<div class="announcement-widget">
    <div class="header"><h2>Announcements</h2></div>
    
    
    <div class="announcement-list">
      <div *ngFor="let announcement of announcements">
        <h3>{{announcement.title}}</h3>
        <p>{{announcement.message}}</p>
        <small>{{announcement.date | date}}</small>
      </div>
    </div>
    <div class="footer">
    <form (submit)="postAnnouncement()">
      <input type="text" [(ngModel)]="newAnnouncementTitle" placeholder="Title">
      <textarea [(ngModel)]="newAnnouncementMessage" placeholder="Message"></textarea>
      <button type="submit"><mat-icon>send-icon</mat-icon></button>
    </form>
</div>
  </div>
  