

  <div class="container" [ngClass]="{'sign-up-mode': isSignUpMode}">
    <div class="forms-container">
      <div class="signin-signup">
        
        <form class="sign-in-form" [formGroup]="loginform" (ngSubmit)="proceedlogin()">
          <h2 class="title">Sign in</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="email" placeholder="Email" formControlName="emailId" />
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" formControlName="password" />
          </div>
          <input type="submit" value="Login" class="btn solid" />
        </form>
        <form class="sign-up-form" [formGroup]="registerform" (ngSubmit)="proceedregisteration()">
          <h2 class="title">Sign up</h2>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Firstname" formControlName="firstName"/>
            
          </div>
          <div class="input-field">
            <i class="fas fa-user"></i>
            <input type="text" placeholder="Lastname" formControlName="lastName" />
          </div>
          <div class="input-field">
            <i class="fas fa-phone"></i>
            <input type="number" placeholder="Contact Number" formControlName="contact" />
          </div>
          <div class="input-field">
            <i class="fas fa-envelope"></i>
            <input type="email" placeholder="Email" formControlName="emailId"/>
          </div>
          <div class="input-field">
            <i class="fas fa-lock"></i>
            <input type="password" placeholder="Password" formControlName="password"/>
          </div>
          <input type="submit" class="btn" value="Sign up" />
        </form>
      </div>
    </div>
    <div class="panels-container">
      <div class="panel left-panel">
        <div class="content">
          <h3>CREDE<span class="logo">X</span></h3>
          <p>
            One step away from joining us!
          </p>
          <button class="btn transparent" id="sign-up-btn">
            Sign up
          </button>
        </div>
        <img src="./../../assets/img/log.svg" class="image" alt="" />
      </div>
      <div class="panel right-panel">
        <div class="content">
          <h3>CREDE<span class="logo">X</span></h3>
          <p>
            One of us? You came the wrong way buddy! Click below.
          </p>
          <button class="btn transparent" (click)="toggleMode()" *ngIf="isSignUpMode">
            Sign in
          </button>
        </div>
        <img src="./../../assets/img/register.svg" class="image" alt="" />
      </div>
    </div>
  </div>
