<h1 class="mt20">Questions of Paper 1</h1>

<!-- <div class="bootstap-wrapper" *ngFor="let q of question">
  <div class="row">
    <div class="col-md-12">
      <mat-card>
        <mat-card-content *ngFor="let i = index">
          <p>
            <b>Q{{i+1}}</b>
            <span [innerHTML]="q.content"></span>
          </p>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <p><b>1</b>{{q.option1}}</p>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <p><b>2</b>{{q.option2}}</p>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <p><b>3</b>{{q.option3}}</p>
              </div>
            </div>
          </div>
          <div class="container-fluid">
            <div class="row">
              <div class="col-md-6">
                <p><b>4</b>{{q.option4}}</p>
              </div>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">Update</button>
          <button mat-raised-button color="warn">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div> -->

<div class="bootstrap-wrapper">
  <div class="row">
    <div class="col">
      <mat-card>
        <mat-card-content>
          <p><b>Q1</b> Which of the following is not a programming language</p>
          <div class="row">
            <div class="col-md-6">
              <p><b>1</b> Java</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p><b>2</b> C#</p>
            </div>
          </div>
          <div class="row">
            <div class="col-md-6">
              <p><b>3</b> Python</p>
            </div>
          </div>

          <div class="row">
            <div class="col-md-6">
              <p><b>4</b> HTML</p>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <button mat-raised-button color="primary">Update</button>
          <button mat-raised-button color="warn">Delete</button>
        </mat-card-actions>
      </mat-card>
    </div>
  </div>
</div>

