<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
    <mat-card fxFlex="25">
        <app-widget-card label="Total Colleges" total="200" percentage="50" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Total Student Enrolled" total="15k" percentage="40" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Teams Available" total="20" percentage="30" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Selected Students" total="200" percentage="20" [data]="cards"></app-widget-card>
    </mat-card>
</div>
<br>    
<mat-divider></mat-divider>
<br>

<div>
    <div fxFlex="50">
        <app-widget-pie></app-widget-pie>
</div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div fxFlex="50">
      <app-widget-announcement></app-widget-announcement>
    </div>
  </div>
  


