<ng-container *ngIf="userRole === 'Admin'">

    <div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stats-cards">
        <mat-card fxFlex="25">
            <app-widget-card label="Total Colleges" total= {{total}}  percentage="50" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Total Student Enrolled" total="{{totalStudents}}" percentage="40" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Teams Available" total="20" percentage="30" [data]="cards"></app-widget-card>
    </mat-card>
    <mat-card fxFlex="25">
        <app-widget-card label="Selected Students" total={{selectedStudents}} percentage="20" [data]="cards"></app-widget-card>
    </mat-card>
</div>
<br>    
<mat-divider></mat-divider>
<br>

<div className= "dashboard-widget" style="height: 75%;">
    <div fxFlex="50">
        <app-widget-pie></app-widget-pie>
    </div>
    <br>
    <mat-divider></mat-divider>
    <br>
    <div fxFlex="50">
      <app-widget-announcement></app-widget-announcement>
    </div>
  </div>
</ng-container>
<ng-container *ngIf="userRole === 'Student'">
    <h1>hi for testing</h1>

</ng-container>
  
  
  
  