<!--div mat-dialog-title class="title">
  <h1>Questions Panel</h1>
</div>
<form>
  <div mat-dialog-content class="content">
    <h1>Write your Questions</h1>
    <div class="row">
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="question" formControlName="question" />
      </mat-form-field>
    </div>

    <h1>Add Option 1</h1>
    <div class="row">
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="option" formControlName="option1" />
      </mat-form-field>
    </div>

    <h1>Add Option 2</h1>
    <div class="row">
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="option" formControlName="option2" />
      </mat-form-field>
    </div>

    <h1>Add Option 3</h1>
    <div class="row">
      <mat-form-field appearance="outline">
        <input matInput type="email" placeholder="option" formControlName="option3" />
      </mat-form-field>
    </div>

    <h1>Add Option 4</h1>
    <div class="row">
      <mat-form-field appearance="outline">
        <input matInput type="text" placeholder="option" formControlName="option4" />
      </mat-form-field>
    </div>
  </div>
  <div mat-dialog-actions class="action">
    <button mat-raised-button type="button" [mat-dialog-close]="false">
      Cancel
    </button>
    <button mat-raised-button color="primary" type="submit">
      Save
    </button>
  </div>
</form-->
<div class="bootstrap-wrapper">
  <div class="row">
    <div class="col-md-12">
      <mat-toolbar color="primary">
        <span><b>Add Questions</b></span>
        <span class="example-spacer"></span>
      </mat-toolbar>
      <mat-card>
        <mat-card-header>
          <mat-card-subtitle>
            <h2><i>Enter a new question</i></h2>
          </mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
          <form (submit)="formSubmit()">

            <!-- content field-->
            <mat-form-field class="w100">
              <mat-label>Write question content</mat-label>
              <textarea rows="8" [(ngModel)]="question.content" name="content" matInput placeholder=""></textarea>
            </mat-form-field>

            <!-- options -->
            <div class="row">
              <div class="col-md-6">
                <!--option 1-->
                <mat-form-field class="w50">
                  <mat-label>Enter Option number 1</mat-label>
                  <input [(ngModel)]="question.option1" name="option1" type="text" matInput />
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <!--option 2-->
                <mat-form-field class="w50">
                  <mat-label>Enter Option number 2</mat-label>
                  <input [(ngModel)]="question.option2" name="option2" type="text" matInput />
                </mat-form-field>
              </div>
            </div>

            <div class="row">
              <div class="col-md-6">
                <!--option 3-->
                <mat-form-field class="w50">
                  <mat-label>Enter Option number 3</mat-label>
                  <input [(ngModel)]="question.option3" name="option3" type="text" matInput />
                </mat-form-field>
              </div>

              <div class="col-md-6">
                <!--option 4-->
                <mat-form-field class="w50">
                  <mat-label>Enter Option number 4</mat-label>
                  <input [(ngModel)]="question.option4" name="option4" type="text" matInput />
                </mat-form-field>
                <br />
                <!--Select Answer-->

                <mat-form-field>
                  <mat-label>Select Answer</mat-label>
                  <mat-select [(ngModel)]="question.answer" name="answer">
                    <mat-option *ngIf="question.option1" [value]="question.option1">{{question.option1}}</mat-option>
                    <mat-option *ngIf="question.option2" [value]="question.option2">{{question.option2}}</mat-option>
                    <mat-option *ngIf="question.option3" [value]="question.option3">{{question.option3}}</mat-option>
                    <mat-option *ngIf="question.option4" [value]="question.option4">{{question.option4}}</mat-option>
                  </mat-select>
                </mat-form-field>

                <div class="container">
                  <button mat-raised-button color="accent">Add</button>
                </div>
              </div>
            </div>
          </form>
        </mat-card-content>
      </mat-card>
    </div>
  </div>
</div>

<!-- {{ question | json }} -->
