<div mat-dialog-title class="title">
  <h1>Student Details</h1>
</div>

<div>
  <form>
    <mat-dialog-content class="typography">
      <h2 mat-dialog-title>Student ID</h2>

      <mat-dialog-content class="mat-typography">
        <h3>1</h3>
      </mat-dialog-content>

      <h2 mat-dialog-title>First Name</h2>

      <mat-dialog-content class="mat-typography">
        <h3>ABC</h3>
      </mat-dialog-content>

      <h2 mat-dialog-title>Last Name</h2>

      <mat-dialog-content class="mat-typography">
        <h3>XYZs</h3>
      </mat-dialog-content>

      <h2 mat-dialog-title>email</h2>

      <mat-dialog-content class="email">
        <h3>abc@gmail.com</h3>
      </mat-dialog-content>

      <h2 mat-dialog-title>Language</h2>

      <mat-dialog-content class="mat-typography">
        <h3>Java</h3>
      </mat-dialog-content>

      <h2 mat-dialog-title>Skills</h2>

      <mat-dialog-content class="mat-typography">
        <h3>a,b,c</h3>
      </mat-dialog-content>

      <h2 mat-dialog-title>Resume</h2>

      <div>
        <mat-dialog-actions align="center">
          <button mat-raised-button mat-dialog-close>Close</button>
        </mat-dialog-actions>
      </div>
    </mat-dialog-content>
  </form>
</div>
